<% provide(:title, "Araraquara") %>
<div class="embed-responsive embed-responsive-16by9">
  <%= content_tag(:iframe,
                  '',
                  class: "embed-responsive-item",
                  width: "100%",
                  height: "100%",
                  frameborder: "0",
                  padding: 0,
                  margin: 0,
                  src: "http://igreja-biblica-da-graca.webnode.com/#home"
      ) %>
</div>