<% provide(:title, "Biblioteca") %>
<h1>Biblioteca</h1>
  <div class="embed-responsive embed-responsive-16by9">
    <%= content_tag(:iframe,
                    '',
                    class: "embed-responsive-item",
                    width: "100%",
                    height: "100%",
                    frameborder: "0",
                    padding: 0,
                    margin: 0,
<<<<<<< HEAD
                    src: "https://drive.google.com/embeddedfolderview?id=0B1Ul7fsZb5AZX2xWS1NQQ2ZDT0U#grid"
        ) %>
=======
                    src: "https://drive.google.com/embeddedfolderview?id=0B1Ul7fsZb5AZX2xWS1NQQ2ZDT0U#grid") %>
>>>>>>> master
  </div>