<% provide(:title, "Biblioteca") %>
<h1>Biblioteca</h1>
<div class="container-fluid">
    <%= content_tag(:iframe,'', width: 1200, height: 480, frameborder: "0",
                    src: "https://drive.google.com/embeddedfolderview?id=0B1Ul7fsZb5AZX2xWS1NQQ2ZDT0U#grid") %>
</div>