<% provide(:title, "Home") %>

<table style="width:100%">
  <tr>
    <th></th>
    <th><img src="https://scontent.fcfc2-1.fna.fbcdn.net/v/t1.0-9/21077438_133823957234145_1416540339841337164_n.jpg?oh=8e5c3b10957a204e4bedc8a31cb9c5b3&oe=5A17655D" alt="LOGO" width="256" height="256" align="middle"></th>
    <th></th>
  </tr>
</table>
<h1>Ministério da Graça no Brasil</h1>
<p>
  Olá, seja bem vindo ao Portal do Ministério da Graça no Brasil. Nosso objetivo é
  divulgar o Evangelho da Graça de Deus, por intermédio do Nosso Senhor Jesus Cristo.<br>
  Nosso portal ainda está em construção e há muito trabalho a fazer. Mas você já pode nos acompanhar pelo
  <a href="https://www.facebook.com/gracanobrasil/" target="_blank">Facebook</a>,  no
  <a href="https://www.instagram.com/gracanobrasil/" target="_blank">Instagram</a>
  ou através do o nosso email
  <a href="mailto:ministeriodagracanobrasil@gmail.com" target="_blank">ministeriodagracanobrasil@gmail.com.</a><br>
  <br>
  Em breve teremos mais novidades.
</p>