<% provide(:title, "Home") %>
<h1>Ministério da Graça no Brasil</h1>
<p>
  Olá, seja bem vindo ao Portal do Ministério da Graça no Brasil. Nosso objetivo é
  divulgar o Evangelho da Graça.<br>
  Nosso portal ainda está em construção e há muito trabalho a fazer. Mas você já pode nos acompanhar pelo
  <a href="https://www.instagram.com/gracanobrasil/" target="_blank">Instagram</a> ou no nosso email
  <a href="mailto:ministeriodagracanobrasil@gmail.com" target="_blank">ministeriodagracanobrasil@gmail.com.</a><br>
  <br>
  Em breve teremos mais novidades.
</p>