<div class="center jumbotron">
  <% provide(:title, "Home") %>
<p>
  Olá, seja bem vindo ao Portal do Ministério da Graça no Brasil. Nosso objetivo é
  divulgar o Evangelho da Graça de Deus por intermédio do Nosso Senhor Jesus Cristo.<br>
  Nosso portal ainda está em construção e há muito trabalho a fazer. Mas você já pode nos acompanhar pelo
  <a href="https://www.facebook.com/gracanobrasil/" target="_blank">Facebook</a>,  no
  <a href="https://www.instagram.com/gracanobrasil/" target="_blank">Instagram</a>, no
  <a href="https://www.youtube.com/channel/UCTVPW2aekWYkyW3Bcc9fOzA" target="_blank">Youtube</a>
  ou através do o nosso email
  <a href="mailto:ministeriogracanobrasil@gmail.com" target="_blank">ministeriodagracanobrasil@gmail.com.</a><br>
  <br>
  Em breve teremos mais novidades.<br>
</p>
</div>