<ul class="dropdown-menu">
  <li><a href="https://www.facebook.com/gracanobrasil/" target="_blank">
    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
    Ministério Graça no Brasil</a></li>
  <li><a href="https://www.facebook.com/IBG-Vertical-1794972970831146/" target="_blank">
    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
    IBG Vertical</a></li>
  <li><a href="https://www.facebook.com/groups/1016264651797483/?ref=group_header" target="_blank">
    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
    Estudos, Publicações e Fórum de discussão</a></li>
  <li><a href="https://www.facebook.com/igrejabiblicadagraca/" target="_blank">
    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
    Igreja Bíblica da Graça - Biguaçu</a></li>
</ul>