<ul class="dropdown-menu">
  <li><%= link_to "Biguaçu-SC", '#' %></li>
  <li><%= link_to "IBG Vertical - São João Batista-SC", '#' %></li>
  <li><%= link_to "Timbó-SC", '#' %></li>
  <li><%= link_to "Pontal do Sul-PR", '#' %></li>
</ul>
