<ul class="dropdown-menu">
  <li><%= link_to "Ministério Graça no Brasil", 'https://www.youtube.com/channel/UCTVPW2aekWYkyW3Bcc9fOzA', target: '_blank' %></li>
  <li><%= link_to "IBG Vertical", 'https://www.youtube.com/channel/UC3-4iiKkiA-mg0A0dRYLD0g', target: '_blank' %></li>
  <li><%= link_to "Conferências das IBG's", 'https://www.youtube.com/channel/UCj76b1XSnAv7zG4s6HQ4giA', target: '_blank' %></li>
</ul>
