<ul class="dropdown-menu">
  <li><a href="https://www.youtube.com/channel/UCTVPW2aekWYkyW3Bcc9fOzA" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Ministério Graça no Brasil</a></li>
  <li><a href="https://www.youtube.com/channel/UC3-4iiKkiA-mg0A0dRYLD0g" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> IBG Vertical</a></li>
  <li><a href="https://www.youtube.com/channel/UCj76b1XSnAv7zG4s6HQ4giA" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Conferências das IBG's</a></li>
</ul>